/* -------------------------------------------------------
                   Project
-------------------------------------------------------- */
.page-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;

  .page-work-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .meta-box {
    position: relative;
    width: 100%;

    .meta-item {
      position: relative;
      display: inline-block;
      margin-right: 40px;

      h4 {
        font-size: 20px;
        font-weight: 600;
      }

      span {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

  .desc-project {

    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    div {
      display: flex;
      flex-direction: row;

      p {
        margin-right: 40px;
      }
    }
  }

  .box-img-row {
    display: flex;
    flex-direction: row;

    div {
      padding-right: 20px;

      &:last-child {
        padding-right: 0;
      }
    }
  }


  .next-post-navigation {
    position: relative;
    padding: 80px 15px;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(163, 163, 163, 0.2);

    .nav-next {

      .nav-subtitle {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        opacity: .7;
        margin-bottom: 5px;
      }

      .nav-title {
        font-size: 46px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1.5px;
        text-transform: capitalize;
      }
    }
  }
}

.gallery-video {
  position: relative;
  overflow: hidden;
}

.col-large {
  width: calc(65% - 46px);
}

.left-large {
  left: calc(35% + 46px);
}

.col-small {
  width: 35%;
}

.justified-gallery {
  & > a {
    margin-left: -15px;
    margin-top: -15px !important;
  }
}

.mfp-arrow-left {
  left: 50px;

  &::before {
    border: none;
  }
}

.mfp-arrow-right {
  right: 50px;

  &::before {
    border: none;
  }
}

.vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.play-button {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 4;

  i {
    color: #fff;
    font-size: 40px;
  }
}

.play-circles {
  display: block;
  width: 100%;
  height: 100%;
}

.header-sticky-full {
  > .page-sidebar {
    position: relative;
    width: 100%;
    left: 0;
  }

  > .col-large {
    width: 100%;
    left: 0;
  }
}


.img-fullscreen {
  overflow: hidden;
  transform-origin: 50% 50%;
  height: 80vh;

  .cover-bg {
    width: 100%;
    height: 120%;

    .img-src {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}


.project-slider {
  position: relative;
  height: auto;

  .swiper-pagination {
    top: auto;
    left: 25%;
    bottom: 15px;
    width: 50%;

    .swiper-pagination-progressbar-fill {
      background-color: $theme-color;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

}
