/*-----------------------------------------------------------
    Responsive
-------------------------------------------------------------*/
@import "_variables.scss";

@media only (max-width: 1141px) {
}

@media (max-width: 992px) {

  .dsn-demo-personal {
    display: none !important;
  }

  .page-project .header-box, .page-project .page-work-content, .page-project .next-post-navigation {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .post-item .post-image:hover .crop-left, .post-item .post-image {
    .crop-right, .crop-left {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }

  }

  .main-box .page-body .page-section .box-info .box-about-item {
    padding-top: 8vw;
    margin-bottom: 8vw;
  }

  header.hero .inner-hero .details .fullname h3,
  .main-box .header-about h3 {
    font-size: 7vw;
  }


  .sidebar .box-logo h4 {
    font-size: 40px;
  }

  .page-post {
    padding-left: 3%;
    padding-right: 3%;
  }
  .sidebar-dsn-right {
    right: 0;
  }

  .comment-btn .contact-btn-txt {
    padding-right: 30px;
  }

  .dsn-show-sidebar .dsn-sidebar .sidebar-single {
    right: -65px;
  }

  .sidebar-left {
    left: auto;
  }

  .dsn-button-sidebar {
    right: calc(-50px + 5px);
  }

  body {
    font-size: 16px;

    .box-logo {

      &.logo-dark {
        display: block !important;
      }

      &.logo-light {
        display: none !important;
      }
    }

    &.dark-theme {
      .box-logo {

        &.logo-dark {
          display: none !important;
        }

        &.logo-light {
          display: block !important;
        }
      }
    }
  }

  body.nav-active,
  body.c-wight {
    .logo-light {
      display: block !important;
    }

    .logo-dark {
      display: none !important;
    }

    .sidebar #menu-toggle #cross span,
    .sidebar #menu-toggle #hamburger span {
      background: #fff !important;
    }
  }

  .contact-modal {
    right: -1px
  }

  .menu-full {
    left: -1px;
  }

  .sidebar .box-logo {
    width: 50px;
    background-color: transparent;
    margin-left: 15px;
    padding-top: 20px;
  }

  .cursor {
    display: none;
  }

  main.inner-wrap {
    width: 100%;
  }


  .left-large {
    width: 100%;
    left: 0;
  }

  body.dark-theme header.hero .inner-hero .bg h3 {
    -webkit-text-stroke: 2px #fff;
  }

  body.dark-theme header.hero .inner-hero .bg .line {
    background-color: #fff;
  }

  .menu-full .menu-container ul .menu-item a,
  .menu-full .menu-container ul .menu-item .sub-menu .menu-item.menu-item-back a {
    font-size: 37px;
  }

  .menu-full .menu-container ul .menu-item .sub-menu .menu-item a {
    font-size: 25px;
  }

  .main-box .page-body .page-section .box-info .box-about-item:last-child {
    min-height: auto !important;
  }

  .dsn-grid-nav-box {
    position: fixed;
    top: auto;
    bottom: 8px;
    z-index: 10;
    right: 0;
  }

  .main-box .page-body .page-section .box-info .box-about-item.box-about-services .services-item .content h5 {
    font-weight: 700;
  }

  .sidebar {

    &.left {
      bottom: auto;
      width: 100%;
      height: $nav-width;
      background-color: transparent !important;

    }

    &.right {
      bottom: 0;
      top: auto;
      width: 100%;
      height: $nav-width;
      position: relative;
      display: none;

      &.home-footer {
        background-color: transparent;
        position: fixed;
        z-index: 9;
        display: inline-block;

        .copyright {
          left: 30px;
        }
      }


      .copyright {
        transform: rotate(0deg);
        bottom: 20px;
        left: 30px;
      }

      .contact-btn {
        display: none;
      }
    }

    &.light-bg {
      background-color: transparent;
    }

    #menu-toggle {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      background-color: transparent;
      margin-right: 15px;
      margin-top: 15px;
    }

    .box-social {
      display: none;
    }
  }


  header.hero {
    .inner-hero {
      width: 100%;

      .bg {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .details {
        left: 50%;
        transform: translate(-50%, -50px);
        text-align: center;

        .line {
          width: 100%;
        }

        h4 {
          margin-left: auto;
        }
      }

      .custom-btn {
        right: -20px;
        transform: translateX(0);

        .line {
          display: none;
        }

        .rect {
          .inner {
            padding: 15px 25px;
            border-radius: 30px;
          }

        }
      }
    }
  }

  .comment-modal {
    width: 85%;
  }

  .comment-btn {
    right: 30px;

    &:before {
      right: 15px;
    }
  }


  .page-sidebar {
    display: block;
    position: relative;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      background: #000;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0.4;
    }
  }

  .col-large {
    width: 100%;
    padding: 0 30px;
  }

  .box-sticky {
    display: none;

    &.box-work {
      display: block;
      margin-bottom: 50px;
      margin-left: 11px;

      .nav-pills .title-tab {
        display: inline-block;
        padding: 0 15px;

        &:first-child {
          padding-left: 0;
        }

        .number {
          display: none;
        }

        h4 {
          font-size: 26px;
          font-weight: 600;
        }
      }
    }

  }

  .project-lest {
    margin-left: 11px;

    li {

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        font-size: 26px;
      }
    }

  }


  .post-item {
    display: block;

    .post-image{
      text-align: left;
    }

    .post-content {
      width: 100%;
      flex: none;
      padding: 30px 30px 0;
    }
  }


  .page-post .post-content blockquote {
    padding: 15px;
  }

  body {

    .sidebar #menu-toggle #cross span,
    .sidebar #menu-toggle #hamburger span {
      background: #000 !important;
    }

    &.dark-theme {

      .sidebar #menu-toggle #cross span,
      .sidebar #menu-toggle #hamburger span {
        background: #fff !important;
      }
    }
  }

  .banner-wrapper .banner-content h1 {
    font-size: 30px;
    line-height: 1.3;
  }

  .banner-wrapper {
    background: #f8f9fa !important;
  }

  .page-project {
    padding: 0 10px !important;
  }

  .sidebar-right {
    display: none;
  }

  .page-post .post-header {
    padding-top: 120px;
  }

  .page-normal .header-blog {
    padding-left: 30px;
  }
  .post-content .title-t h3 {
    font-size: 40px;
  }


  .contact-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-blog-p .header-blog {
    padding-left: 60px;
  }

}

@media (max-width: 767px) {

  .header-box .name-title span {
    display: none;
  }
  .dsn-pagination .page-numbers .button-next {
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    margin-bottom: 10px;
  }


  body.dark-theme .page-post .share-links a {
    margin-top: 10px;
  }

  .slider-box .slider-item .inner-hero .info {
    h1 {
      font-size: 40px;
    }

    .tagline h6 {
      font-size: 14px;
    }

    .veiw-c span span {

      &:before,
      &:after {
        display: none;
      }
    }
  }

  .slider-box .slider-item .inner-hero .info .veiw-c:hover span {
    transform: translateX(0px) translateZ(0);
  }

  .slider-box .slider-item .inner-hero .info .tagline span {
    display: none;
  }


  .menu-full .contactWrapper {
    display: none;
  }

  header.hero .inner-hero .details {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  header.hero .inner-hero .details .fullname h3,
  .main-box .header-about h3 {
    font-size: 10vw;
  }

  header.hero .inner-hero .details h4 {
    font-size: 16px;
  }

  .main-box .page-body .page-section .box-info .box-about-item.box-about-services .services-item .block {
    display: block;
  }

  .main-box .page-body .page-section .box-info .box-about-item.box-about-services .services-item img {
    display: block;
    margin-bottom: 15px;
  }

  .page-sidebar.col-small.sidebar-right {
    display: none;
  }

  header.hero .inner-hero .details .line {
    width: 80%;
    margin: 20px auto;
  }

  .page-project .meta-box .meta-item:last-child {
    margin-top: 15px;
  }

  .page-project .next-post-navigation {
    padding: 80px 15px 0;
  }


  .box-sticky {
    display: none;

    &.box-work {
      display: block;
      margin-bottom: 50px;
      margin-left: 11px;

      .nav-pills .title-tab {
        display: inline-block;
        padding: 0 15px;

        &:first-child {
          padding-left: 0;
        }

        .number {
          display: none;
        }

        h4 {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

  }



  .project-lest li span {
    display: none;
  }


  .comment-modal {
    width: 100%;
  }

  .comment-modal .comment-modal-container .comments-area .comment .comment-body .comment-author {
    display: none;
  }

  .comment-modal .comment-modal-container .comments-area .comment .comment-body,
  .comment-modal .comment-modal-container .comments-area .comment .children {
    padding-left: 15px;
  }

  .comment-modal .comment-modal-container .comments-area .comment .children {
    margin-left: 15px;
  }

  .comment-modal .comment-modal-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .comment-btn {
    z-index: 10;
    right: 10px;
  }

  .page-post .post-content blockquote p {
    font-size: 18px;
  }

  .page-project .box-img-row {
    flex-direction: column;

    div {
      padding: 0;

      &:first-child {
        margin-bottom: 50px;
      }
    }
  }

  .project-lest li {

    .line,
    .project-enter {
      display: none;
    }
  }


  .main-box .page-body .page-section .box-info .box-about-item.box-about-work ul .table-list-item {
    display: block;

    .item-date {
      width: 100%;
      margin-bottom: 10px;
      display: block;
    }
  }


  .post-content-bottom .nav-single .nav-next .nav-desc a, .page-project .next-post-navigation .nav-next .nav-title {
    font-size: 35px;
  }

}

@media (max-width: 782px) {

  .dsn-sidebar .sidebar-single {
    width: 80%;
  }
}


@media only screen and (max-width: 600px) {
  .sidebar.left {
    position: absolute;
  }
  .sidebar.right.home-footer {
    display: none;
  }
  .dsn-grid-nav-box {
    right: auto;
    left: 20px;
  }

  .img-fullscreen {
    height: auto;

    .cover-bg {
      transform: none !important;
      background: transparent !important;

      .img-src {
        width: 100%;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }


  }
}

@media only screen and (max-width: 479px) {
  .header-box .name-title h3, .page-normal .header-blog h3, .page-post .post-header h3 {
    font-size: 40px;
  }

  .main-box .page-body .page-section .box-info .box-about-item .box-about-client .box-logo .logo-item {
    flex-basis: 100%;
    padding: 30px;
  }
}