.button,
form button,
input[type="button"],
input[type="reset"],
input[type="submit"]:not(.wpcf7-submit) {

  width: auto;
  color: #fff;
  background-color: #000;
  border: 2px solid #212121;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 3px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  padding: 20px 41px;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;


}
